/**div{
    height: 200px;
    width: 200px;
    border: 10px solid palegreen ;
    border-top: 10px solid rgb(99, 99, 198);
    border-radius: 50%;
    animation: spincreate 1s ease-out 0s infinite;
}
@keyframes spincreate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}**/

.hero-section{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    overflow-x: scroll;
}
.content{
    height: 580px;
    width: 98%;
    padding: 1rem,1rem,1rem,1rem;
    background-color: black;
}